//colors
$input: #000;
$border_color: #c0c0c0;
$text_color: #888;
$row_bg: #f8f9fa;
$cell_border: #e2e3e3;
$cell_text: #111;
$cell_outline: #3c74ff;
$main_background: #fff;
$db_new_background: #dadce0;
$box_shadow: rgba(60, 64, 67, .15);
$db_new_hover: green;
$db_list: #202124;
$record_background: #e6f4ea;

//input
$input_height: 20px;
$input_fz: 18px;
$input_lh: 22px;
$input_focus: #1a73e8;

//button
$btn_height: 24px;
$btn_width: 24px;
$btn_fz: 18px;
$btn_color: rgba(0, 0, 0, 0.7);
$btn_hover_bg_color: #eee;

$header_height: 34px;
$toolbar_height: 40px;
$formula_height: 24px;
$info_cell_width: 40px;
$table_row_min_height: 20px;
$table_row_height: 24px;
$cell_min_width: 40px;
$cell_width: 120px;
$db_header_height: 64px;
$open_btn_size: 160px;
$db_container: 1000px;
